body{
background-color: rgb(54, 174, 178);
    font-family: Arial, Helvetica, sans-serif;
}

.main {

    background-color: gainsboro;
    height: auto;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
    text-align: center !important;
    align-items: center !important;
flex-wrap: wrap;
}

.mainimg{

    height:10vw ;
    width: 10%;
    border-radius: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    

}
#crosimg{

    height: 20px !important;
    background-color: gold;
border-radius: 10px;
width: 20px;
object-fit: contain;

}

#crosbtn{

    border: none;
    background-color:#DCDCDC ;
}

#list {

    font-family: Arial, Helvetica, sans-serif !important;
font-size: 30px;
font-weight:bolder;
 
}
input{

border: none;
text-align: center;
height: 35px;
border-radius: 10px;
font-size: 18px;

}

.addbtn{

    border: none;
    padding: 14px;
    border-radius: 10px;
    background-color: rgb(21, 93, 93);
    color: white;
    font-size: 15px;

}

#clearbtn{

    border: none;
    padding: 14px;
    border-radius: 10px;
    background-color: rgb(21, 93, 93);
    color: white;
    font-size: 15px;

}

:hover.addbtn{
    background-color: rgb(36, 141, 141);

}
@media only screen and (max-width: 400px) {
    
    .mainimg{

        height:30vw ;
    width: 30%;
    }

 }
